body {
  background-color: #282c30;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 550px;
  padding: 6px;
}

#gameBoard {
  width: 600px;
  border: 2px solid #000;
  text-align: center;
  background-color: #cfd0d1;
  box-shadow: 5px 5px 10px black;
}

#btnEnviar {
  width: auto;
  height: 60px;
  
}
